<%= form_with(model: fellowship, local: true) do |form| %>
  <% if fellowship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fellowship.errors.count, "error") %> prohibited this fellowship from being saved:</h2>

      <ul>
      <% fellowship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="required-fields">
  <legend><%= t("activerecord.attributes.fellowship.required") %></legend>

    <div class="field">
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <%= form.text_area :description, :rows=>5 %>
    </div>
  </fieldset>

  <fieldset class="opional-fields">
    <legend><%= t("activerecord.attributes.fellowship.optional") %></legend>

    <div class="field">
      <%= form.text_field :zip_code %>
    </div>



    <h2><details>
        <summary><%= t("activerecord.attributes.fellowship.user_requirements") %></summary>

        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_user_required") %></p>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_full_name %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_phone_number %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_gender %>
       </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :user_required_date_of_birth %>
       </div>

       <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_adress %>
        </div>

       <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :user_required_city %>
       </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_country %>
        </div>

        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_user_show_public") %></p>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :user_public_show_full_name %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_phone_number %>
       </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_gender %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :user_public_show_date_of_birth %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_address %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :user_public_show_city %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_country %>
        </div>
    </details></h2>  

    <h2><details>
        <summary><%= t("activerecord.attributes.fellowship.admin_requierments") %></summary> 

        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_admin_required") %></p>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_full_name %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_phone_number %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_gender %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_date_of_birth %>
       </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_address %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_city %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_country %>
        </div>

        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_admin_show_public") %></p>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_full_name %>
        </div>


       <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_phone_number %>
       </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_gender %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_date_of_birth %>
       </div>

       <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_address %>
       </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_city %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_country %>
        </div>

    </details></h2>

    <div class="field">
      <% if fellowship.image.attached? %>
        <%= image_tag fellowship.image, style: "width: 200px; display: block" %>
      <% end %>

      
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    
  </fieldset>

<% end %>

<%= link_to 'Back', fellowship, class: "button hollow" %>

<style>
        .button
        {
            text-decoration: none;
        }
   .button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus 
    {
       color: white;
    }
</style>

