<!-- Group data form for new groups and editing groups  -->
<%= form_with(model: fellowship, local: true) do |form| %>
  <% if fellowship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fellowship.errors.count, "error") %> prohibited this fellowship from being saved:</h2>

      <ul>
      <% fellowship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="required-fields">
  <legend><%= t("activerecord.attributes.fellowship.required") %></legend>

    <div class="field">
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.email_field :email %>
    </div>

  </fieldset>

  <fieldset class="opional-fields">
    <legend><%= t("activerecord.attributes.fellowship.optional") %></legend>

    <div class="field">
      <% if fellowship.image.attached? %>
        <%= image_tag fellowship.image, style: "width: 200px; display: block" %>
      <% end %>

      
      <%= form.file_field :image %>
    </div>

    <%= form_for(@fellowship) do |f| %>
    <div id="password_required">
      <%= form.check_box :join_password_required, :id => "passwordisrequired", :onclick => "toggle_password_field();" %>
    </div>
    <div id="password_field" style="display: none;">
      <%= form.text_field :join_password %>
    </div>
    <% end %>

    <div class="field">
      <%= form.text_area :short_description, :rows=>3 %>
    </div>

    <div class="field">
      <%= form.text_area :description, :rows=>5 %>
    </div>

    <div class="field">
      <%= form.text_field :zip_code %>
    </div>

   



    <script>
    function toggle_password_field()
    {
      var checkbox = document.getElementById('passwordisrequired');
      if (checkbox.checked)
      {
        document.getElementById("password_field").style['display'] = "block";
      }
      else
      {
        document.getElementById("password_field").style['display'] = "none";
      }
    }
    </script>
    

    <h2><details>
        <summary><%= t("activerecord.attributes.fellowship.user_requirements") %></summary>


          <h3 style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.user_req_data") %></h3>
          
        

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_full_name %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_phone_number %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_gender %>
          </div>

          <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_date_of_birth %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_adress %>
          </div>

           <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_required_city %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_state %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_required_country %>
          </div>

          <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_user_required") %></p>

          <br><br>
          <h3 style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.user_pub_data") %></h3>
          

          <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_full_name %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_public_show_phone_number %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_public_show_gender %>
          </div>

          <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_date_of_birth %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_public_show_address %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_public_show_state %>
          </div>

          <div class="field" style="margin-left: 5%;">
          <%= form.check_box :user_public_show_city %>
          </div>

          <div class="field" style="margin-left: 5%;">
            <%= form.check_box :user_public_show_country %>
          </div>
          <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_user_show_public") %></p>
    </details></h2>  

    <h2><details>
        <summary><%= t("activerecord.attributes.fellowship.admin_requierments") %></summary> 

        <h3 style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.admin_req_data") %></h3>


        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_full_name %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_phone_number %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_gender %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_date_of_birth %>
       </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_address %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_required_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_city %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_required_country %>
        </div>

        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_admin_required") %></p>
        <br><br>

        <h3 style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.admin_pub_data") %></h3>

        

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_full_name %>
        </div>


       <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_phone_number %>
       </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_gender %>
        </div>

        <div class="field" style="margin-left: 5%;">
          <%= form.check_box :admin_public_show_date_of_birth %>
       </div>

       <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_address %>
       </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_state %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_city %>
        </div>

        <div class="field" style="margin-left: 5%;">
         <%= form.check_box :admin_public_show_country %>
        </div>
        <p style="margin-left: 5%;"><%= t("activerecord.attributes.fellowship.info_admin_show_public") %></p>

    </details></h2>

    

    <div class="actions" style="margin-top: 2%;">
      <%= form.submit t("activerecord.attributes.fellowship.save_fellowship") %>
    </div>
    
  </fieldset>

<% end %>

<%= link_to t("activerecord.attributes.fellowship.back"), fellowship, class: "button hollow" %>

<style>
        .button
        {
            text-decoration: none;
        }
   .button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus 
    {
       color: white;
       background-color: #05d3DD;;
       border-color: #05d3DD;;
    }
</style>

