<%= form_with(model: fellowship, local: true) do |form| %>
  <% if fellowship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fellowship.errors.count, "error") %> prohibited this fellowship from being saved:</h2>

      <ul>
      <% fellowship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="required-fields">
  <legend><%= t("shared.required") %></legend>

    <div class="field">
      <%= form.label :name, "Group " %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email, "Group" %>
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <%= form.label :description, "Group" %>
      <%= form.text_area :description %>
    </div>
  </fieldset>

  <fieldset class="opional-fields">
    <legend><%= t("shared.optional") %></legend>

    <div class="field">
      <%= form.label :zip_code, " Group " %>
      <%= form.text_field :zip_code %>
    </div>

    <div class="field">
      <%= form.label :clear_name, "Only clear name allowed?" %>
      <%= form.check_box :clear_name %>
    </div>

    <div class="field">
      <%= form.label :user_required_full_name %>
      <%= form.check_box :user_required_full_name %>
    </div>

    <div class="field">
      <% if fellowship.image.attached? %>
        <%= image_tag fellowship.image, style: "width: 200px; display: block" %>
      <% end %>

      <%= form.label :image, "Add Image" %>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    
  </fieldset>

<% end %>

<%= link_to 'Back', fellowship, class: "btn btn-info" %>

<style>
  .btn-info
   {
       background:#05d3dd !important; 
       border: none;
       color: white;
   }

   .button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus 
    {
       color: white;
    }
</style>

