<p id="notice"><%= notice %></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<%= render "shared/fellowships_header", i18n_namespace: "Fellowships", image: "group_icon" %>

<h1>Groups</h1>

<h2>My Groups<h2>

<% current_user.fellowships.each do |fellowship| %>
  <div class="container-fluid">
    <div class="col-8">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <% if fellowship.image.attached? %>
              <img src="<%= (url_for(fellowship.image)) %>" class="card-img-top" alt="...">
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-header"><%= fellowship.name %></h5>
              <p class="card-text" style="margin-top: 2%;"><%= fellowship.description %></p>
              <p class="card-text"><small class="text-muted">Created at <%= localize(fellowship.created_at, :format => :short2) %></small></p>
            </div>
          </div>
          <%= link_to 'Show', fellowship, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<table>

  <tbody>
  <h2> All Groups<h2>

    <% @fellowships.each do |fellowship| %>
<div class="card mb-3" style="max-width: 40%;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if fellowship.image.attached? %>
      <img src="<%= (url_for(fellowship.image)) %>" class="card-img-top">
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-header"><%= fellowship.name %></h5>
        <p class="card-text" style="margin-top: 2%;"><%= fellowship.description %></p>
        <p class="card-text"><small class="text-muted">Created at <%= localize(fellowship.created_at, :format => :short2) %></small></p>
      </div>
      <div style="float: right; margin-right: 3%; margin-top: 9%; color: #3adb76;"><i class="fas fa-check-square fa-lg"></i></div>
    </div>
    <%= link_to 'Show', fellowship, class: "btn btn-info" %>
  </div>
</div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellowship', new_fellowship_path, class: "success button" %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
  .btn-info
   {
       background:#05d3dd !important; 
       border: none;
       color: white;
   }

   .button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus 
    {
       color: white;
       text-decoration:none;
    }
</style>
