<% if current_user%>  



<%= render "shared/fellowships_header", i18n_namespace: t("activerecord.attributes.fellowship.fellowship"), image: "group_icon" %>

<h2><%= t("activerecord.attributes.fellowship.mygroups") %></h2>

<% @member_counter=0 %>

<% current_user.fellowships.each do |fellowship| %>
  
    
      <div class="card mb-3" style="width: 40%; margin-right:1.7%">
        <div class="row g-0">
          <div class="col-md-4">
            <% if fellowship.image.attached? %>
              <img src="<%= (url_for(fellowship.image)) %>" class="card-img-top" alt="...">
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-header"><%= fellowship.name %></h5>
              <p class="card-text" style="margin-top: 2%;"><%= fellowship.short_description %></p>
              <p class="card-text"><small class="text-muted"><%= t("activerecord.attributes.fellowship.created_at") %> <%= localize(fellowship.created_at, :format => :short2) %></small></p>
              <p class="card-text"><small class="text-muted">
                <%= t("activerecord.attributes.fellowship.members") %> 
                <% @member_counter=0 %>
                <% fellowship.fellowship_users.each do |fellowship_user| %>
                  <% if fellowship_user.fellowship_id == fellowship.id %>
                    <% @member_counter = @member_counter + 1 %>
                  <% end %>
                <%end%>  
                <%= @member_counter %>
              </small></p>
            </div>
            <div style="float: right; margin-right: 3%; margin-top: 7%; color: #3adb76;"><i class="fas fa-check-square fa-2x"></i></div>
          </div>
          <%= link_to t("activerecord.attributes.fellowship.fellowship_show"), fellowship, class: "btn btn-info" %>
        </div>
      </div>
    
  

<% end %>
<table>
  <hr style="border-width: 5px;"></hr>
  <tbody>
  <h2 style="margin-bottom: 1%;"> <%= t("activerecord.attributes.fellowship.allgroups") %> </h2>
    <%= link_to t("activerecord.attributes.fellowship.create_new_fellowship"), new_fellowship_path, class: "success button", :style => 'margin-bottom: 2.5%', :style => 'width: 11%' %>
    <div></div>

    <% @fellowships.each do |fellowship| %>
<div class="card mb-3" style="width: 40%; margin-right: 2%;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if fellowship.image.attached? %>
      <img src="<%= (url_for(fellowship.image)) %>" class="card-img-top">
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-header"><%= fellowship.name %></h5>
        <p class="card-text" style="margin-top: 2%;"><%= fellowship.short_description %></p>
        <p class="card-text"><small class="text-muted"><%= t("activerecord.attributes.fellowship.created_at") %> <%= localize(fellowship.created_at, :format => :short2) %></small></p>
      </div>
      <% if current_user.fellowships.include?(fellowship)  %>  
      <div style="float: right; margin-right: 3%; margin-top: 7%; color: #3adb76;"><i class="fas fa-check-square fa-2x"></i></div>
      <% end %>

    </div>
    <%= link_to t("activerecord.attributes.fellowship.fellowship_show"), fellowship, class: "btn btn-info" %>
  </div>
</div>
    <% end %>
  </tbody>
</table>

<br>




<style>
  .btn-info
   {
       background:#05d3dd !important; 
       border: none;
       color: white;
   }

   .button.success, .button.success.disabled, .button.success[disabled], .button.success.disabled:hover, .button.success[disabled]:hover, .button.success.disabled:focus, .button.success[disabled]:focus 
    {
       color: white;
       text-decoration:none;
    }
    .card {display:inline-block;}
</style>
<% end %>