<p id="notice"><%= notice %></p>

<h1>Fellowships</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Organization</th>
      <th>Author</th>
      <th>Responsible</th>
      <th>Flags count</th>
      <th>Geozone</th>
      <th>Community</th>
      <th>Clear name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellowships.each do |fellowship| %>
      <tr>
        <td><%= fellowship.id %></td>
        <td><%= fellowship.name %></td>
        <td><%= fellowship.description %></td>
        <td><%= fellowship.created_at %></td>
        <td><%= fellowship.updated_at %></td>
        <td><%= fellowship.organization_id %></td>
        <td><%= fellowship.author_id %></td>
        <td><%= fellowship.responsible_id %></td>
        <td><%= fellowship.flags_count %></td>
        <td><%= fellowship.geozone_id %></td>
        <td><%= fellowship.community_id %></td>
        <td><%= fellowship.clear_name %></td>
        <td><%= link_to 'Show', fellowship %></td>
        <td><%= link_to 'Edit', edit_fellowship_path(fellowship) %></td>
        <td><%= link_to 'Destroy', fellowship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellowship', new_fellowship_path %>
