<p id="notice"><%= notice %></p>

<h1>Fellowships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Updatet at</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fellowships.each do |fellowship| %>
      <tr>
        <td><%= fellowship.name %></td>
        <td><%= fellowship.email %></td>
        <td><%= fellowship.description %></td>
        <td><%= fellowship.created_at %></td>
        <td><%= fellowship.updatet_at %></td>
        
        <td><%= link_to 'Show', fellowship %></td>
        <td><%= link_to 'Edit', edit_fellowship_path(fellowship) %></td>
        <td><%= link_to 'Destroy', fellowship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fellowship', new_fellowship_path %>
