<p id="notice"><%= notice %></p>

<%= render "shared/fellowships_header", i18n_namespace: t("activerecord.attributes.fellowship.showgroup"), image: "group_icon" %>

<% if @fellowship.image.attached? %>
  <img src="<%= (url_for(@fellowship.image)) %>" style="max-width: 25%; max-height: 25%; margin-bottom: 1%;">
  <p class="sizer">
    <strong><%= t("activerecord.attributes.fellowship.description") %></strong>
    <textarea rows="3" class="form-control" style="width: 50%;" readonly><%= @fellowship.description %></textarea>
  </p>
<% end %>

<p class="sizer" style="margin-top: 2%;">
  <strong><%= t("activerecord.attributes.fellowship.name") %></strong>
  <input class="form-control" type="text" value="<%= @fellowship.name %>" style="width: 25%;" readonly>
</p>

<p class="sizer">
  <strong><%= t("activerecord.attributes.fellowship.email") %></strong>
  <input class="form-control" type="text" value="<%= @fellowship.email %>" style="width: 25%;" readonly>
</p>

<p class="sizer">
  <strong><%= t("activerecord.attributes.fellowship.created_at") %></strong>
  <input class="form-control" type="text" value="<%= localize(@fellowship.created_at, :format => :short2) %>" style="width: 25%;" readonly>
</p>

<p class="sizer">
  <strong><%= t("activerecord.attributes.fellowship.updated_at") %></strong>
  <input class="form-control" type="text" value="<%= @fellowship.updatet_at %>" style="width: 25%;" readonly>
</p>




<%= link_to t("activerecord.attributes.fellowship.back"), fellowships_path, class: "btn btn-info" %>
<%= link_to t("activerecord.attributes.fellowship.edit"), edit_fellowship_path(@fellowship), class: "btn btn-primary" %>
<%= link_to t("activerecord.attributes.fellowship.delete"), @fellowship, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<div style="padding: 0.5%;"></div>
<%= link_to t("activerecord.attributes.fellowship.leave"), leave_fellowship_path(@fellowship), class: "btn btn-warning" %>



<!-- Abfrage Join: ersetzen durch required password und check ob nutzer schon beigetreten -->
<% if ( @fellowship.join_password_required? ) %>
  <button type="button" class="btn btn-primary" id="btnpopup" data-bs-toggle="modal" data-bs-target="#join_req_password">
    <%= t("activerecord.attributes.fellowship.join_group") %>
  </button>

  <!-- Modal Passowrt eingabe --> 
  <div class="modal fade" id="join_req_password" tabindex="-1" aria-labelledby="req_password_Label" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="req_password_Label"><%= t("activerecord.attributes.fellowship.popup_req_password_label") %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= t("activerecord.attributes.fellowship.popup_req_password_text1") %>
          <br><br>
          
          <%= form_with url: join_fellowship_path(@fellowship), local: true, method: :get do %>
          <div>
            <%= label_tag t("activerecord.attributes.fellowship.popup_req_password_text2") %>
            <%= text_field_tag "password", nil %>
          </div>

          
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("activerecord.attributes.fellowship.popup_req_password_close") %></button>
          <%= submit_tag t("activerecord.attributes.fellowship.join_group"), class: "btn btn-success" %>  
         <% end %>
        </div>
     </div>
    </div>
  </div>
  
<% else %>
  <%= link_to  t("activerecord.attributes.fellowship.join_group") , join_fellowship_path(@fellowship), class: "btn btn-success" %>
<% end %>



<style>
  .btn-info
   {
       background:#05d3dd !important; 
       border: none;
       color: white;
   }
   .btn-primary
   {
       border: none;
   }

   .sizer
   {
    font-size: 20px;
   }

   .btn-danger
   {
       margin-right: 10%;
   }
</style>