<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("activerecord.attributes.proscons.tag") %></strong>
  <%= @pro_contra.tag %>
</p>
<p>
  <strong><%= t("activerecord.attributes.proscons.body") %></strong>
  <%= @pro_contra.body %>
</p>
<p>
  <strong><%= t("activerecord.attributes.proscons.source") %></strong>
  <%= @pro_contra.sources %>
</p>

<%if current_user.present? %>
  <%if @pro_contra.user_id == current_user.id %>
      <%= link_to 'Destroy', @pro_contra, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<%end%>

<h2><%= t("activerecord.attributes.proscons.comments") %></h2>
<% @pro_contra.objections.each do |objection| %>
  <p>
    <strong><%= t("activerecord.attributes.proscons.author") %></strong>
    <%= objection.user_first_name %><%= " " %> <%= objection.user_last_name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.proscons.comment") %></strong>
    <%= objection.body %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.proscons.source") %></strong>
    <%= objection.sources %>
  </p>
  <%if current_user.present? %>
    <%if objection.user_id == current_user.id %>
        <%= link_to t("activerecord.attributes.proscons.delete"), @objection, method: :delete_objection, data: { confirm: 'Are you sure?' },  class: "button hollow alert" %>
    <% end %>
  <% end %>
<% end %>

<h2><%= t("activerecord.attributes.proscons.new_comment") %></h2>
<%= form_for([@pro_contra, @pro_contra.objections.build]) do |f| %>
   <p>
    <%= f.hidden_field :debates_id, :value => @pro_contra.debate_id, :readonly => true %>
  </p>
  <p>
    <%= f.text_area :body , label: t("activerecord.attributes.proscons.comment")%>
  </p>
  <p>
    <%= f.text_area :sources, label: t("activerecord.attributes.proscons.source") %>
  </p>
  <%if current_user.present? %>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id, :readonly => true%>
      <%= f.hidden_field :user_first_name, :value => current_user.first_name, :readonly => true%>
      <%= f.hidden_field :user_last_name, :value => current_user.last_name, :readonly => true%>
    </p>
  <%else%>
    <p>
      <%= f.hidden_field :user_id, :value => "1", :readonly => true%>
      <%= f.hidden_field :user_first_name, :value => "Anonymous", :readonly => true%>
    </p>
  <%end%>
  <p>
    <%= f.submit t("activerecord.attributes.proscons.new_comment")%>
  </p>
<% end %>


<!--<%= link_to 'Edit', edit_pro_contra_path(@pro_contra) %> |
<%= link_to 'Back', pro_contras_path %>-->
