<main>
  <div class="activity row margin-top">
    <div class="small-12 column">

      <% if @user != current_user %>
        <% if @user.email_on_direct_message? %>
          <%= link_to t("users.show.send_private_message"),
                      new_user_direct_message_path(@user),
                      class: "button hollow float-right" %>
        <% else %>
          <div class="callout primary float-right">
            <%= t("users.show.no_private_messages") %>
          </div>
        <% end %>
      <% end %>

      

      <h2 class="inline-block">
        <%= avatar_image(@user, seed: @user.id, size: 60) %>
        <%= @user.name %>
        <% if current_administrator? %>
          <small><%= @user.email %></small>
        <% end %>
      </h2>

      <% if @user.public_profile_show_full_name || current_administrator? %>
        <p><%= t("activerecord.attributes.user.name") + ": " + @user.first_name + " " + @user.last_name %></p>
      <% end %>

      <% if @user.public_profile_show_phone_number || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.phone_number") + ": " + @user.phone_number %></p>
      <% end %>

      <% if @user.public_profile_show_gender || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.gender") + ": " + @user.gender %></p>
      <% end %>

      <% if @user.public_profile_show_date_of_birth || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.date_of_birth") + ": "%> <%= localize(@user.date_of_birth, :format => :short2) %></p>
        
      <% end %>

      <% if @user.public_profile_show_address || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.street") + ": " + @user.street + " " + @user.housenumber %></p>
      <% end %>

      <% if @user.public_profile_show_city || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.city") + ": " + @user.postal_code + " " + @user.city %></p>
      <% end %>

      <% if @user.public_profile_show_state || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.state") + ": " + @user.state %></p>
      <% end %>

      <% if @user.public_profile_show_country || current_administrator?  %>
        <p><%= t("activerecord.attributes.user.country") + ": " + @user.country %></p>
      <% end %>

      

      <%= render Users::PublicActivityComponent.new(@user) %>
    </div>
  </div>
</main>
