
<% preview = false unless local_assigns.has_key? :preview %>
<% provide :title do %><%= @proposal.title %><% end %>
<% content_for :meta_description do %><%= @proposal.summary %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: proposal_url(@proposal),
              social_title: @proposal.title,
              social_description: @proposal.summary,
              twitter_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil),
              og_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<details style="position:relative">
<div style="float:left; width:50%;">
<h2 style="float:center"> Pro-Arguments</h2>
<% @proposals_pro_contra.each do |pc| %>
  <% if pc.pc == 1%>
    <%= pc.user_first_name %><%= " " %> <%= pc.user_last_name %>
    <p>
      <strong>Tag:</strong>
      <%= pc.tag %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= pc.body %>
    </p>
    <p>
      <strong>Sources:</strong>
      <%= pc.sources %>
    </p>
    <%= link_to "object", "/pro_contras/" + pc.id.to_s %><%="("%><%= pc.objections.all.count %><%=")"%><br>
  <% end %>
<% end %>

<br>
</div>
<div style="float:right; width:50%;">
<h2 style="float:center"> Contra-Arguments</h2>
<% @proposals_pro_contra.each do |pc| %>
  <% if pc.pc == 0%>
    <%= pc.user_first_name %><%= " " %> <%= pc.user_last_name %>
    <p>
      <strong>Tag:</strong>
      <%= pc.tag %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= pc.body %>
    </p>
    <p>
      <strong>Sources:</strong>
      <%= pc.sources %>
    </p>
    <%= link_to "object", "/pro_contras/" + pc.id.to_s %><%="("%><%= pc.objections.all.count %><%=")"%><br>
  <% end %>

<% end %>
</div>

<div style="float:center">
<h2>Add Pro-Contra:</h2>
<%= form_for([@proposal, @proposal.pro_contras.build]) do |f| %>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.text_area :sources %>
  </p>
  <p>
    <%= f.text_field :tag %>
  </p>
  <%if current_user.present? %>
    <p>
      <%= f.hidden_field :user_id, :value => current_user.id, :readonly => true%>
      <%= f.hidden_field :user_first_name, :value => current_user.first_name, :readonly => true%>
      <%= f.hidden_field :user_last_name, :value => current_user.last_name, :readonly => true%>
    </p>
  <%else%>
    <p>
      <%= f.hidden_field :user_id, :value => "1", :readonly => true%>
      <%= f.hidden_field :user_first_name, :value => "Anonymous", :readonly => true%>
    </p>
  <%end%>
  <p>
    <%= f.select(:pc, [['Pro', 1], ['Contra', 0]]) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
</details>

<% if @proposal.fellowship_id.present? %>
  <% @fellowship= Fellowship.find(@proposal.fellowship_id)%>
<% end %>

<% cache [locale_and_user_status(@proposal),
          @proposal,
          @proposal.author,
          Flag.flagged?(current_user, @proposal),
          @proposal.followed_by?(current_user),
          @proposal_votes] do %>
  <div class="proposal-show">
    <div id="<%= dom_id(@proposal) %>" class="row">
      <div class="small-12 medium-9 column">
        <%= back_link_to proposals_path unless preview %>

        <% if @proposal.fellowship_id.present? %>
          <div><h4>
            <% if @fellowship.image.attached? %>
                <img src="<%= (url_for(@fellowship.image)) %>" width=" 3%" height= "3%" style= "margin-bottom: 1%;">
            <% end %>       
            <%= link_to @fellowship.name, @fellowship %>
          </h4></div> 
        <% end%>   

        <h1><%= @proposal.title %></h1>
        <% if @proposal.retired? %>
          <div data-alert class="callout alert margin-top proposal-retired">
            <strong>
              <%= t("proposals.show.retired_warning") %><br>
              <%= link_to t("proposals.show.retired_warning_link_to_explanation"),
                          "#retired_explanation" %>
            </strong>
          </div>
        <% elsif @proposal.conflictive? %>
          <div data-alert class="callout alert margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>

        <%= render "proposals/info", proposal: @proposal %>
        <div style="display: none;">
          <%= render "shared/geozone", geozonable: @proposal %>
        </div>

        <% unless @proposal.selected? %>
          <%= render "relationable/related_content", relationable: @proposal %>
        <% end %>

        <div class="js-moderator-proposal-actions margin">
          <%= render "proposals/actions", proposal: @proposal %>
        </div>
      </div>

      <% unless preview %>
        <aside class="small-12 medium-3 column">
          <% if can?(:dashboard, @proposal) %>
            <div class="sidebar-divider"></div>
            <h2><%= t("proposals.show.author") %></h2>
            <div class="show-actions-menu">
              <%= link_to progress_proposal_dashboard_path(@proposal),
                          class: "button hollow expanded",
                          id: "proposal-dashboard-#{@proposal.id}" do %>
                <span class="icon-edit"></span>
                <%= t("proposals.show.dashboard_proposal_link") %>
              <% end %>
            </div>
          <% end %>

          
          <%= render "proposals/support_status", proposal: @proposal %>

          <div style="display: none;">
            <%= render "proposals/social_share", proposal: @proposal, share_title: t("proposals.show.share") %>

            <% if current_user %>
              <div class="sidebar-divider"></div>
              <p class="sidebar-title"><%= t("shared.follow") %></p>

              <%= render "follows/follow_button", follow: find_or_build_follow(current_user, @proposal) %>
            <% end %>

            <%= render "communities/access_button", community: @proposal.community %>
          </div>  
        </aside>
      <% end %>
    </div>
  </div>
<% end %>

<% unless preview %>
  <div class="additional-content">
    <div class="filter-subnav">
      <div class="row">
        <div class="small-12 column">
          <%= render "proposals/filter_subnav" %>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs-content" data-tabs-content="proposals_tabs">
    <div class="tabs-panel is-active" id="tab-comments">
      <%= render "proposals/comments" %>
    </div>

    <%= render "proposals/notifications" %>
    <%= render "milestones/milestones", milestoneable: @proposal %>
  </div>
<% end %>
