<main class="proposal-new">
  <%= back_link_to proposals_path, t("proposals.index.section_header.title") %>

  <%= header do %>
    <%= link_to help_path(anchor: "proposals"), title: t("shared.target_blank"), target: "_blank" do %>
      <%= t("proposals.new.more_info") %>
    <% end %>
  <% end %>

  <aside>
    <h2>
    <details>
    <summary><%= t("proposals.new.recommendations_title") %></summary>

    <ul class="recommendations">
      <li style="font-size: large;"><%= t("proposals.new.recommendation_one") %></li>
      <li style="font-size: large;"><%= t("proposals.new.recommendation_two") %></li>
      <li style="font-size: large;"><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </details></h2>
  </aside>

  <%= render Proposals::FormComponent.new(proposal, url: proposals_path) %>
</main>
